.m-nav {
  height: .9rem;
  nav {
    width: 100%;
    background-color: #FFF;
    border-bottom: 1px solid @line-high-color; /* no */
    color: #555;
    position: fixed;
    left: 0;
    top: 0;
    opacity: .98;
    z-index: 997;
    display: flex;
    align-items: center;
    > a {
      .tap-color(#FFF, .96);
      min-width: 15%; /* for low version android */
      flex: 0 0 15%;
      padding: 0 @box-padding;
      height: .9rem;
      display: flex;
      align-items: center;
      &:first-child {
        order: 1;
        margin-right: -15%;
      }
      &:last-child {
        order: 3;
        justify-content: flex-end;
      }
      &.nav-ico:before {
        font-size: .38rem;
      }
      &.back-ico:after {
        content: '';
        .arrow(#5C5C5C, .24rem, 2px, -135deg);
      }
    }
    .center {
      height: .9rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70%;
      order: 2;
      margin-left: 15%;
      font-size: .4rem; /* px */
      color: #FF5E53;
      img {
        height: .5rem;
      }
    }
  }
}