.m-tab {
  display: flex;
  position: relative;
  &:after {
    .bottom-line(@tabbar-bottom-border-color);
  }
}

.tab-item {
  width: 1%;
  flex: 1;
  position: relative;
  text-align: center;
  color: @tabbar-color;
  font-size: @tabbar-fontsize; /* px */
  line-height: @tabbar-height;
  display: block;
  .tap-color(@tab-bg);
  a {
    display: inherit;
    color: inherit;
  }
  &:not(:last-child):after {
    position: absolute;
    top: 35%;
    right: 0;
    content: '';
    width: 1px; /* no */
    height: 30%;
    transform: scaleX(.5);
    border: 1px solid @tabbar-break-color;
  }
  &.crt {
    color: @tabbar-color-crt;
    &:before {
      content: '';
      width: 70%;
      height: 2px; /* no */
      position: absolute;
      left: 50%;
      bottom: 0;
      margin-left: -35%;
      z-index: 2;
      background-color: @tabbar-color-crt;
    }
  }
}