.m-tabbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 49;
  display: flex;
  align-items: center;
  padding: .05rem 0;
  background-color: @tabbar-bg;
  &:after {
    .top-line(@tabbar-border-color);
  }
}

.tabbar-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: @tabbar-color;
  &.crt {
    color: @tabbar-color-crt;
    .tabbar-icon {
      color: inherit;
    }
  }
}

.tabbar-item .badge {
  position: absolute;
  top: -.02rem;
  left: 100%;
  z-index: 999;
  margin-left: -.1rem;
}

.tabbar-icon {
  height: @tabbar-icon-fontsize * 1.24;
  color: @tabbar-icon-color;
  display: flex;
  align-items: center;
  position: relative;
  *:before, *:after {
    font-size: @tabbar-icon-fontsize !important;
    display: block;
  }
  img {
    height: 70%;
  }
}

.tabbar-txt {
  display: inline-block;
  font-size: @tabbar-text-fontsize; /* px */
  padding-top: .02rem;
}