.demo-pagetitle {
  font-size: .68rem;
  /* px */
  color: #FF5E53;
  text-align: center;
  padding: .7rem 0 .5rem;
}
.demo-detail-title {
  color: #888;
  font-size: .28rem;
  /* px */
  margin-bottom: .8rem;
  font-weight: normal;
  line-height: 0.42rem;
  text-align: center;
}
.demo-loading {
  margin-bottom: 20px;
  /* no */
}
.demo-loading li a {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.demo-loading li img {
  width: .6rem;
  height: .6rem;
  display: inline-block;
}
.demo-tip {
  color: #B1B1B1;
  font-size: .24rem;
  /* px */
  padding: .2rem .24rem .4rem;
  line-height: 18px;
  /* no */
  font-family: \5fae\8f6f\96c5\9ed1;
  position: relative;
}
.demo-tip:after {
  content: '';
  position: absolute;
  bottom: .2rem;
  left: 0;
  width: 100%;
  border-bottom: 1px dashed #B2B2B2;
  /* no */
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.demo-tip i {
  margin-right: 3px;
  /* no */
}
.demo-tip a {
  color: #5AA700;
}
.demo-upload {
  overflow: hidden;
}
.demo-upload li {
  width: 1rem;
  height: 1rem;
  float: left;
  margin-right: 0.2rem;
}
.demo-upload li:last-child {
  margin-right: 0;
}
.demo-upload-big {
  width: 2rem;
  height: 2rem;
  margin-top: 0.4rem;
}
.demo-upload-rectangle {
  width: 4rem;
  height: 2rem;
  margin-top: 0.4rem;
}
.demo-components {
  background-color: #FFF;
  padding: 10px;
  /* no */
  margin-bottom: 10px;
  /* no */
}
.demo-upload {
  overflow: hidden;
}
.demo-upload li {
  float: left;
}
.demo-upload li img {
  width: 1rem;
  height: 1rem;
  margin-right: .2rem;
}
.demo-pitch {
  margin-top: .5rem;
}
.demo-small-pitch {
  margin-top: .2rem;
}
.demo-progressbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 .24rem;
}
.demo-progressbar .demo-progressbar-item {
  width: 1%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.demo-badege {
  padding: 0 .24rem;
}
.demo-icons [class^="icon-"]:before,
.demo-icons [class*=" icon-"]:before {
  font-size: .6rem;
  /* px */
  color: #FF685D;
}
@font-face {
  font-family: 'demo-icons';
  src: url('http://at.alicdn.com/t/font_1469173340_9427857.ttf') format('truetype');
}
[class^="demo-icons-"]:before,
[class*=" demo-icons-"]:before {
  font-family: 'demo-icons';
  font-size: .5rem;
}
.demo-icons-weixin:before {
  content: '\e60b';
}
.demo-icons-me:before {
  content: '\e610';
}
.demo-icons-contact:before {
  content: '\e60c';
}
.demo-icons-discover:before {
  content: '\e611';
}
.demo-icons-phone:before {
  content: '\e60e';
}
.demo-icons-tel:before {
  content: '\e616';
}
.demo-icons-like:before {
  content: '\e60d';
}
.demo-icons-order:before {
  content: '\e60f';
}
.demo-icons-button:before {
  content: '\e602';
  color: #FF685E;
}
.demo-icons-sendcode:before {
  content: '\e60a';
  color: #8B78E2;
}
.demo-icons-dialog:before {
  content: '\e603';
  color: #3CC51E;
}
.demo-icons-cell:before {
  content: '\e600';
  color: #FC746C;
}
.demo-icons-tab:before {
  content: '\e607';
  color: #FF8D20;
}
.demo-icons-list:before {
  content: '\e605';
  color: #FF8D20;
}
.demo-icons-auctionsheet:before {
  content: '\e601';
  color: #3CCD1C;
}
.demo-icons-icons:before {
  content: '\e604';
  color: #8B78E2;
}
.demo-icons-tabbar:before {
  content: '\e606';
  color: #3CC51E;
}
.demo-icons-badge:before {
  content: '\e608';
  color: #EF4F4F;
}
.demo-icons-grids:before {
  content: '\e609';
  color: #8B78E2;
}
