@iconfont-inlay: 'YDUI-INLAY';
//@font-face {
//  font-family: @iconfont-inlay;
//  src: url('../iconfont/YDUI_INLAY.ttf#datauri') format('truetype');
//}
@font-face {
  font-family: @iconfont-inlay;
  src: url('//at.alicdn.com/t/font_1470187884_0370114.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1470187884_0370114.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1470187884_0370114.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1470187884_0370114.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1470187884_0370114.svg#iconfont') format('svg'); /* iOS 4.1- */
}

