.g-doc {
  max-width: 750px; /* no */
  margin: 0 auto;
  min-width: 300px; /* no */
  padding-bottom: 1.2rem;
}

.mask-black {
  .mask(#000, .4);
}
.mask-white {
  .mask(#000, 0);
}
.maks-white-high {
  .mask(#FFF, .98);
  opacity: .98;
}