.g-doc {
  max-width: @max-width; /* no */
  margin: 0 auto;
  min-width: @min-width; /* no */
  padding-bottom: @body-padding-bottom;
}
.mask-black {
  .mask(#000, .4);
}
.mask-white {
  .mask(#000, 0);
}
.maks-white-high {
  .mask(#FFF, .98);
}