.g-doc {
  max-width: @max-width;
  margin: 0 auto;
  min-width: @min-width;
  padding-bottom: .5rem;
}

.g-flexview {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}

.g-scrollview {
  width: 100%;
  height: 100%;
  flex: 1;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  position: relative;
  z-index: 0;
  margin-top: -1px;
}

.mask-black {
  .mask(rgba(0, 0, 0, .4));
}

.mask-white {
  .mask(rgba(0, 0, 0, 0), 1000);
}

.maks-white-high {
  .mask(rgba(255, 255, 255, .98));
}