/**
 * Component:	Variables
 * Description:	Define all variables
*/

//======== 【global】 ========
//body背景颜色
@body-bg: #F5F5F5;
//主体内容距离两边的距离
@body-padding-vertical: .24rem;
//主体下距离距离
@body-padding-bottom: 1.2rem;
//白底边框颜色
@line-color: #EAEAEA;
//底边边框颜色
@line-high-color: #C5C5C5;
//最大宽
@max-width: 750px;
//最小宽
@min-width: 300px;

//======== 【grids】 ========
//字体大小
@grids-fontsize: .28rem;
//字体颜色
@grids-color: #333;
//背景颜色
@grids-bg: #FFF;
//上下内边距
@grids-padding-horizontal: .5rem;
//边框颜色
@grids-line-color: #EAEAEA;
//底边颜色
@grids-line-high-color: #C5C5C5;

//======== 【navbar】 ========
//高
@navbar-height: .9rem;
//背景颜色
@navbar-bg: #FFF;
//中间所占百分比
@navbar-center-width: 70%;
//中间字体大小
@navbar-center-fontsize: .4rem;
//两边字体大小
@navbar-item-fontsize: .3rem;
//字体颜色
@navbar-color: #5C5C5C;
//下边框颜色
@navbar-border-color: #C5C5C5;

//======== 【navbar】 ========

@btn-radius: 3px;
@btn-size: .26rem;
@btn-height: .7rem;
@btn-default-color: #FFF;

@btn-block-radius: 3px;
@btn-block-size: .36rem;
@btn-block-height: 1rem;
@btn-block-margin-top: .5rem;

@btn-primary-bg: #04BE02;
@btn-danger-bg: #EF4F4F;
@btn-warning-bg: #FFB400;

@btn-disabled-bg: #CCC;
@btn-disabled-color: #F0F0F0;

@btn-hollow-bg: #F7F7F7;
@btn-hollow-color: #454545;





