/**
 * Component:	Variables
 * Description:	Define all variables
*/
// ** ======== 【global】 ========
//** body背景颜色
@body-bg: #F5F5F5;
//白底边框颜色
@line-color: #EAEAEA;
//底边边框颜色
@line-high-color: #C5C5C5;
//主体内容距离两边的距离
@box-padding: .24rem;

// ** ======== 【navbar】 ========
//** 背景颜色
@navbar-bg: #FFF;
//** 字体颜色
@navbar-color: #5C5C5C;
//** 下边框颜色
@navbar-border-color: #DCDCDC;



