/**
 * Component:	Variables
 * Description:	Define all variables
*/

//======== 【global】 ========
//body背景颜色
@body-bg: #F5F5F5;
//主体内容距离两边的距离
@body-padding-vertical: .24rem;
//主体下距离距离
@body-padding-bottom: 1.2rem;
//白底边框颜色
@line-color: #EAEAEA;
//底边边框颜色
@line-high-color: #D8D8D8;
//最大宽
@max-width: 750px;
//最小宽
@min-width: 300px;

//======== 【grids】 ========
//字号
@grids-fontsize: .28rem;
//字体颜色
@grids-color: #333;
//背景颜色
@grids-bg: #FFF;
//上下内边距
@grids-padding-horizontal: .5rem;
//边框颜色
@grids-line-color: @line-color;
//底边颜色
@grids-line-high-color: @line-high-color;

//======== 【navbar】 ========
//高
@navbar-height: .9rem;
//背景颜色
@navbar-bg: #FFF;
//中间所占百分比
@navbar-center-width: 70%;
//中间字号
@navbar-center-fontsize: .4rem;
//两边字号
@navbar-item-fontsize: .3rem;
//字体颜色
@navbar-color: #5C5C5C;
//下边框颜色
@navbar-border-color: #D8D8D8;

//======== 【button】 ========
//行块按钮圆角
@btn-radius: 3px;
//行块按钮字号
@btn-size: .26rem;
//行块按钮高度
@btn-height: .7rem;
//默认颜色
@btn-default-color: #FFF;
//按钮圆角
@btn-block-radius: 3px;
//按钮字号
@btn-block-size: .36rem;
//按钮高度
@btn-block-height: 1rem;
//按钮上边距
@btn-block-margin-top: .5rem;
//primary按钮背景色
@btn-primary-bg: #04BE02;
//danger按钮背景色
@btn-danger-bg: #EF4F4F;
//warning按钮背景色
@btn-warning-bg: #FFB400;
//disabled按钮背景色
@btn-disabled-bg: #CCC;
//disabled按钮字体颜色
@btn-disabled-color: #F0F0F0;
//hollow按钮背景色
@btn-hollow-bg: #F7F7F7;
//hollow按钮字体颜色
@btn-hollow-color: #454545;

//======== 【cell】 ========
@cell-title-fontsize: .3rem;
@cell-title-color: #888;
@cell-height: 1rem;
@cell-left-color: #333;
@cell-left-fontsize: .3rem;
@cell-right-color: #525252;
@cell-right-fontsize: .28rem;
@cell-input-color: #555;
@cell-input-fontsize: @cell-left-fontsize;
@cell-icon-fontsize: .42rem;
@cell-select-color: #A9A9A9;
@cell-select-fontsize: @cell-left-fontsize;
@cell-arrow-width: .2rem;
@cell-arrow-color: #C9C9C9;

//======== 【tabbar】 ========
@tabbar-color: #5D656B;
@tabbar-color-crt: #FF6157;
@tabbar-fontsize: .2rem;